/* Chart container */
.graph-container {
  width: 100%;
  height: 200px;
  background-color: #000000; /* dark background */
  box-sizing: border-box;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  opacity: 0 !important;
  transition: all 0.3s ease !important;
}

.graph-container.visible {
  opacity: 1 !important;
}

