.session-slider {
  width: 100%;
  user-select: none;
  padding: 5px 50px 20px 50px;
  background-color: #101110;
  box-sizing: border-box;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  padding: 0 20%;
  color: #b9b3b3;
}

.slider-track {
  position: relative;
  height: 3px;
  background: #ffffff;
  border-radius: 3px;
}

.slider-range {
  position: absolute;
  height: 3px;
  background: linear-gradient(120deg, #0400ff7a, #ff000080);
  border-radius: 3px;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 3px;
  border-radius: 4px;
  background: #ffffff;
  border: 3px solid #000000;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.11);
  cursor: grab;
  transition: transform 0.1s;
}

.slider-thumb:active {
  cursor: grabbing;
  transform: translate(-50%, -50%) scale(1.1);
}
